<div class="graphics">
    <div class="panels">
        <mat-accordion multi>
            <mat-expansion-panel (opened)="setTileCanvasTopVisible(true)" (closed)="setTileCanvasTopVisible(false)" [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Tile patterns
                    </mat-panel-title>
                    <mat-panel-description *ngIf="bitmapMode">
                        Top third
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <canvas id="tile-canvas-top"></canvas>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="bitmapMode" (opened)="setTileCanvasMiddleVisible(true)" (closed)="setTileCanvasMiddleVisible(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Tile patterns
                    </mat-panel-title>
                    <mat-panel-description>
                        Middle third
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <canvas id="tile-canvas-middle"></canvas>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="bitmapMode" (opened)="setTileCanvasBottomVisible(true)" (closed)="setTileCanvasBottomVisible(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Tile patterns
                    </mat-panel-title>
                    <mat-panel-description>
                        Bottom third
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <canvas id="tile-canvas-bottom"></canvas>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="multiplePages" (opened)="setNameTable1CanvasVisible(true)" (closed)="setNameTable1CanvasVisible(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Tile layer 1
                    </mat-panel-title>
                    <mat-panel-description>
                        All pages
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <canvas id="name-table1-canvas"></canvas>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="multiplePages && hasT2Layer" (opened)="setNameTable2CanvasVisible(true)" (closed)="setNameTable2CanvasVisible(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Tile layer 2
                    </mat-panel-title>
                    <mat-panel-description>
                        All pages
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <canvas id="name-table2-canvas"></canvas>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-expansion-panel (opened)="setSpriteCanvasVisible(true)" (closed)="setSpriteCanvasVisible(false)" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Sprite patterns
                </mat-panel-title>
            </mat-expansion-panel-header>
            <canvas id="sprite-canvas"></canvas>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Palette
                </mat-panel-title>
            </mat-expansion-panel-header>
            <canvas id="palette-canvas"></canvas>
        </mat-expansion-panel>
    </div>
    <mat-toolbar class="toolbar">
        <button mat-raised-button color="primary" (click)="dumpRAM()"><fa-icon [icon]="dumpRAMIcon"></fa-icon> Dump VDP RAM</button>
        <span class="margin-right"></span>
        <button *ngIf="isF18A" mat-raised-button color="primary" (click)="dumpRAMFull()"><fa-icon [icon]="dumpRAMIcon"></fa-icon> Dump VDP RAM + regs</button>
    </mat-toolbar>
</div>
